<html>
  <head>
    <meta charset='utf-8' />
    <title>App</title>
  </head>
  <body>
    {{message}}
    Ok
  </body>
  <script>
    window.location.href = 'logbook://oauth?' + window.location.search;
  </script>
</html>