<html>
  <head>
    <meta charset='utf-8' />
    <title>App</title>
  </head>
  <body>
    <script type='text/javascript' nonce='<%= nonce %>'>
      if (window.opener) {
      {{#if data}}
        const data = { status: 'success', data:
        {{{json data}}}
        };
      {{else}}
        const data = { status: 'error', error: 'Error' };
      {{/if}}

      window.opener.postMessage(JSON.stringify(data), "{{frontend}}"); }
    </script>
  </body>
</html>